@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply my-4;
    @apply dark:bg-neutral-900;
    @apply transition-colors ease-in-out;
  }
  h1 {
    @apply text-4xl;
    @apply font-extrabold;
    @apply mt-10;
    @apply sm:text-7xl;
    @apply dark:text-white;
  }
  p {
    @apply text-base;
    @apply leading-loose;
    @apply text-slate-900;
    @apply mt-2;
    @apply mb-4;
    @apply sm:text-xl;
    @apply dark:text-slate-200;
  }
  h2 {
    @apply text-2xl;
    @apply sm:text-5xl;
    @apply dark:text-white;
    @apply font-extrabold;
    @apply mt-8;
  }
}
.container {
  max-width: 750px !important;
  padding: 0 1rem;
  margin: 0 auto;
}
.subtitle {
  @apply text-base;
  @apply text-gray-500;
  @apply sm:text-lg;
  @apply dark:text-neutral-400;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
