@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply my-4;
  }
  h1 {
    @apply text-7xl;
    @apply font-extrabold;
  }
  p {
    @apply text-2xl;
    @apply leading-loose;
    @apply text-black;
    @apply mt-7;
  }
  h2 {
    @apply text-5xl;
    @apply font-extrabold;
    @apply mt-7;
  }
}
.container {
  max-width: 800px !important;
  padding: 0 1rem;
  margin: 0 auto;
}
